.projects__transform {
  overflow: hidden;
}

.projects__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 17%;
  width: 66%;
  z-index: 100;
}
.projects__container h2 {
  color: lightblue;
  font-size: 2em;
}

.project {
  width: 80%;
  height: auto;
  margin: 3rem 10%;
  border-radius: 2em;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.project:nth-child(2n) {
  transform-origin: 0 100%;
  animation: translatePair 3s 1 ease-in-out;
}
.project:nth-child(2n + 1) {
  transform-origin: 100% 100%;
  animation: translateOdd 3s 1 ease-in-out;
}

.project__img {
  width: 100%;
  height: 40%;
  border-radius: 1.5em 1.5em 0 0;
}

.project__description {
  margin: 2rem;
}
.project__title {
  color: black;
  font-weight: 800;
}
.project__list,
.project__title__list {
  text-align: start;
  margin: 0 1em;
}

.project__link {
  display: inline-block;
  margin: 2em 5em 1em;
  width: 5em;
  height: 3em;
}
.project__link button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: inherit;
  height: inherit;
  background-color: lightyellow;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1em;
  transition: 0.5s;
}

.project__title__list {
  margin: 1em;
}

/* Eventos y animaciones */
.project__link button:hover {
  background-color: black;
  color: lightyellow;
}

@keyframes translatePair {
  0% {
    transform: translateX(200%) rotate(0);
  }
  50% {
    transform: translateX(0) rotate(-20deg) scale(0.8);
  }
  100% {
    transform: translateX(0) rotate(0) scale(1);
  }
}
@keyframes translateOdd {
  0% {
    transform: translateX(-200%) rotate(0);
  }
  50% {
    transform: translateX(0) rotate(20deg) scale(0.8);
  }
  100% {
    transform: translateX(0) rotate(0) scale(1);
  }
}
