.technologies__container {
  margin: 6rem auto;
  width: 86%;
  height: 18rem;
  overflow: hidden;
}
.technologies__banner {
  display: flex;
  background-color: var(--color-white);
  align-items: center;
  padding: 1rem;
  width: calc(10rem * 26);
  height: 8rem;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
}
.shadow {
  height: 10rem;
  width: 70%;
  position: absolute;
  left: 7%;
  box-shadow: inset 3em 0 3em var(--color-white);
  z-index: 50;
}
.shadow2 {
  height: 10rem;
  width: 16%;
  position: absolute;
  right: 7%;
  box-shadow: inset 3em 0 3em var(--color-white);
  z-index: 50;
  transform: rotate(180deg);
}
.tech__container {
  width: 10rem;
  height: auto;
  margin: 0 0.75rem;
}
.tech__container img {
  width: 100%;
}
.css {
  height: 8rem;
}
.sequelize {
  height: 9rem;
}
.technologies__title {
  text-align: center;
}

/* Eventos y animaciones */
@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-animation: translateX(0);
  }
  100% {
    transform: translateX(calc(-10rem * 13));
    -webkit-animation: translateX(calc(-10rem * 13));
  }
}

/* Responsive */
@media (max-width: 768px) {
  .shadow2 {
    width: 18%;
    right: 5%;
  }
}
