.technologies__background {
  background: url(../../Images/BG-techs.jpg) fixed no-repeat center;
  background-size: cover;
  height: 22em;
  margin: 5rem auto;
}

.technologies__container {
  margin: auto;
  width: 86%;
  height: 18rem;
  overflow: hidden;
}

.technologies__banner {
  display: flex;
  background-color: var(--color-white);
  align-items: center;
  width: calc(10rem * 26);
  height: 10rem;
  animation: scroll 20s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
}

.shadow {
  height: 10rem;
  width: 85%;
  position: absolute;
  left: 7%;
  box-shadow: inset 3em 0 3em var(--color-white);
  z-index: 50;
}

.shadow2 {
  height: 10rem;
  width: 85%;
  position: absolute;
  right: 7%;
  box-shadow: inset 3em 0 3em var(--color-white);
  z-index: 50;
  transform: rotate(180deg);
}

.tech__container {
  width: 10rem;
  height: auto;
  margin: 0 0.75rem;
}

.tech__container img {
  width: 100%;
}

.css {
  height: 8rem;
}

.sequelize {
  height: 9rem;
}

.technologies__title {
  text-align: center;
  margin: 1em;
}

/* Eventos y animaciones */
@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-animation: translateX(0);
  }
  100% {
    transform: translateX(calc(-10rem * 13));
    -webkit-animation: translateX(calc(-10rem * 13));
  }
}

@media (max-width: 768px) {
  .technologies__banner {
    animation: scroll 15s linear infinite;
    -webkit-animation: scroll 15s linear infinite;
  }
}
