@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
:root {
  --time: 800ms;
  --delay: 450ms;
}

.landing {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}
.landing__background {
  width: 100%;
  height: 100vh;
  background: url("../../Images/BG-port-1920.jpg") no-repeat center;
}

.landing__container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  top: 17rem;
  width: 50rem;
  height: 30vh;
}

.landing__container span {
  font-size: 4.3rem;
  font-weight: 700;
  font-family: "Oleo Script", cursive;
  padding: 0.2em;
  color: var(--color-white);
}

.landing__arrow {
  position: absolute;
  right: 47%;
  top: 90%;
  transition: 0.7s ease-out;
  background-color: var(--color-2);
  border-radius: 5px;
  cursor: pointer;
}

.landing__arrow a img {
  animation: bell 1.3s infinite ease;
}

.landing__container span:nth-child(1) {
  transform: translate(-40vw);
  animation: span1 var(--time) forwards 1 ease-out;
}
.landing__container span:nth-child(2) {
  transform: translate(-20vw, -50vh);
  animation: span2 var(--time) var(--delay) forwards 1 ease-out;
}
.landing__container span:nth-child(4) {
  transform: translate(20vw, -50vh);
  animation: span4 var(--time) calc(var(--delay) * 2) forwards 1 ease-out;
}
.landing__container span:nth-child(5) {
  transform: translate(50vw);
  animation: span5 var(--time) calc(var(--delay) * 3) forwards 1 ease-out;
}
.landing__container span:nth-child(6) {
  transform: translate(-50vw, 50vh);
  animation: span6 var(--time) calc(var(--delay) * 4) forwards 1 ease-out;
}
.landing__container span:nth-child(7) {
  transform: translate(-30vw, 60vh);
  opacity: 0;
  animation: span7 var(--time) calc(var(--delay) * 5) forwards 1 ease-out;
}
.landing__container span:nth-child(8) {
  transform: translateY(60vh);
  opacity: 0;
  animation: span8 var(--time) calc(var(--delay) * 6) forwards 1 ease-out;
}
.landing__container span:nth-child(9) {
  transform: translate(30vw, 60vh);
  opacity: 0;
  animation: span9 var(--time) calc(var(--delay) * 7) forwards 1 ease-out;
}
.landing__container span:nth-child(10) {
  transform: translate(50vw, 50vh);
  animation: span10 var(--time) calc(var(--delay) * 8) forwards 1 ease-out;
}

/* Eventos y animaciones */
.landing__arrow:hover {
  transform: scale(1.3);
}

@keyframes bell {
  0% {
    transform: rotate(0);
  }
  12% {
    transform: scale(1.05) rotate(10deg);
  }
  24% {
    transform: rotate(-10deg);
  }
  36% {
    transform: rotate(10deg);
  }
  48% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  72% {
    transform: rotate(-10deg);
  }
  84% {
    transform: rotate(10deg) scale(1);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes span1 {
  0% {
    transform: translateX(-40vw);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes span2 {
  0% {
    transform: translate(-20vw, -50vh);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes span4 {
  0% {
    transform: translate(20vw, -50vh);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes span5 {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes span6 {
  0% {
    transform: translate(-50vw, 50vh);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes span7 {
  0% {
    transform: translate(-30vw, 70vh);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes span8 {
  0% {
    transform: translateY(60vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes span9 {
  0% {
    transform: translate(30vw, 60vh);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes span10 {
  0% {
    transform: translate(50vw, 50vh);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes landing {
  0% {
    transform: translateY(-70vh);
  }
  100% {
    transform: translate(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .landing__background {
    background: url("../../Images/BG-port-768.jpg") no-repeat center;
    background-size: cover;
    opacity: 0.5;
  }
  .landing__arrow:hover {
    transform: none;
  }
  .landing__container {
    transform: translateY(-70vh);
    animation: landing var(--time) 300ms forwards 1 ease-out;
  }

  .landing__container {
    height: fit-content;
    margin: 1em;
    width: 90%;
    top: 10em;
  }
  .landing__container span {
    font-size: 3em;
  }
  .landing__container span:nth-child(n) {
    transform: translate(0);
    opacity: 1;
    animation: none;
  }
}
