@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
:root {
  --time: 800ms;
}

.landing {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.landing__container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  top: 17rem;
  width: 50rem;
  height: 30vh;
  /* background-color: rgba(27, 20, 36, 0.6); */
}

video source {
  width: 100%;
}

.landing__container span {
  font-size: 4.3rem;
  font-weight: 700;
  font-family: "Oleo Script", cursive;
  padding: 0.2em;
  color: var(--color-white);
}

.landing__arrow {
  position: absolute;
  right: 47%;
  top: 90%;
  transition: 1s ease;
  background-color: var(--color-2);
  border-radius: 5px;
  cursor: pointer;
}

.landing__arrow a img {
  animation: bell 1.3s infinite ease;
}

.landing__container span:nth-child(1) {
  transform: translate(-40vw);
  animation: span1 var(--time) forwards 1 ease-out;
}
.landing__container span:nth-child(2) {
  transform: translate(-20vw, -50vh);
  animation: span2 var(--time) 0.5s forwards 1 ease-out;
}
.landing__container span:nth-child(4) {
  transform: translate(20vw, -50vh);
  animation: span4 var(--time) 1s forwards 1 ease-out;
}
.landing__container span:nth-child(5) {
  transform: translate(50vw);
  animation: span5 var(--time) 1.5s forwards 1 ease-out;
}
.landing__container span:nth-child(6) {
  transform: translate(-50vw, 50vh);
  animation: span6 var(--time) 2s forwards 1 ease-out;
}
.landing__container span:nth-child(7) {
  transform: translate(-30vw, 60vh);
  animation: span7 var(--time) 2.5s forwards 1 ease-out;
}
.landing__container span:nth-child(8) {
  transform: translateY(60vh);
  animation: span8 var(--time) 3s forwards 1 ease-out;
}
.landing__container span:nth-child(9) {
  transform: translate(30vw, 60vh);
  animation: span9 var(--time) 3.5s forwards 1 ease-out;
}
.landing__container span:nth-child(10) {
  transform: translate(50vw, 50vh);
  animation: span10 var(--time) 4s forwards 1 ease-out;
}

/* Eventos y animaciones */
.landing__arrow:hover {
  transform: scale(1.2);
}

@keyframes bell {
  0% {
    transform: rotate(0);
  }
  12% {
    transform: scale(1.05) rotate(10deg);
  }
  24% {
    transform: rotate(-10deg);
  }
  36% {
    transform: rotate(10deg);
  }
  48% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  72% {
    transform: rotate(-10deg);
  }
  84% {
    transform: rotate(10deg) scale(1);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes span1 {
  0% {
    transform: translateX(-40vw);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes span2 {
  0% {
    transform: translate(-20vw, -50vh);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes span4 {
  0% {
    transform: translate(20vw, -50vh);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes span5 {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes span6 {
  0% {
    transform: translate(-50vw, 50vh);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes span7 {
  0% {
    transform: translate(-30vw, 70vh);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes span8 {
  0% {
    transform: translateY(60vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes span9 {
  0% {
    transform: translate(30vw, 60vh);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes span10 {
  0% {
    transform: translate(50vw, 50vh);
  }
  100% {
    transform: translate(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  html {
    width: 102%;
  }
  .landing__container {
    height: fit-content;
    margin: 1em;
    top: 10em;
  }
  .landing__container span {
    font-size: 3em;
  }
  .landing__container span:nth-child(n) {
    transform: translate(0);
    animation: none;
  }
}
