body{
    background-color: darkcyan;
}
.projects__container{
    display: flex;
    margin: 2em 10%;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
}
.project{
    width: 20%;
    height: 10em;
}