.mailer__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.mailer__email,
.mailer__text,
.mailer__submit {
  border-radius: 0.5em;
  outline: none;
  border: none;
}
.mailer__email {
  margin: 2em 0 0.3em 0;
  width: 100%;
  padding: 0 5px;
  height: 3em;
  background-color: transparent;
  transition: border 0.5s ease;
  border: 2px solid silver;
  color: var(--color-2);
}

.mailer__text {
  resize: none;
  width: 100%;
  padding: 0.5em 5px;
  height: 15em;
  background-color: transparent;
  transition: border 0.5s ease;
  border: 2px solid silver;
  color: var(--color-2);
}

.mailer__submit {
  background-color: transparent;
  padding: 0;
  width: 5em;
  height: 5em;
  margin: 1em auto;
}

.mailer__submit__active {
  z-index: 500;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #68b684;
  clip-path: circle(0% at 50% 100%);
  transition: clip-path 1s ease-in;
}

.mailer__submit img {
  cursor: pointer;
  transition: transform 0.8s ease-in-out;
}

.mailer__submit__desactive {
  z-index: 600;
  width: 90%;
  height: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 20%;
}
.mailer__submit__desactive div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2em;
  width: 8em;
  height: 4em;
  padding: 1em;
  background-color: var(--color-2);
  border: none;
  border-radius: 1em;
  font-size: 1em;
  transition: 0.6s ease-out;
  cursor: pointer;
}

.mailer__submit__desactive p {
  font-size: 1.5em;
}

/* Eventos y animaciones */
.mailer__submit:hover img {
  transform: rotate(-2turn);
}

.mailer__submit__desactive div:hover {
  transform: translate(5px, -5px);
  box-shadow: var(--shadow);
}

.mailer__submit:focus + .mailer__submit__active {
  clip-path: circle(180vh at 50% 100%);
}

.mailer__email:focus,
.mailer__text:focus {
  border: 2px dashed lightblue;
}

/* Responsive */
@media (max-width: 950px) {
  .mailer__form {
    width: 75%;
  }
  .mailer__submit:hover img {
    transform: rotate(0);
  }

  .mailer__submit__desactive div:hover {
    transform: none;
    box-shadow: none;
  }
}
