@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

:root {
  --color-black: #1a1423;
  --color-white: #eae6e5;
  --shadow: -5px 5px 7px 0 black;
  --color-2: #f4863b;
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient(
    var(--color-white) 0%,
    var(--color-black) 100%
  );
  color: var(--color-black);
  overflow-x: hidden;
}

h2 {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  color: var(--color-white);
}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-black);
}

::-webkit-scrollbar-track {
  background-color: var(--color-white);
}
