/* header {
} */

.nav__container {
  background-color: var(--color-2);
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  z-index: 300;
  align-items: center;
}

.nav__element {
  display: inline-block;
  padding: 0.3em;
  margin: 0.4em 0.5em;
  cursor: pointer;
}

.nav__menu .nav__element:nth-child(3) {
  margin-right: 1.4em;
}

.nav__element a {
  color: var(--color-black);
  text-decoration: none;
  font-size: 1.5em;
  transition: box-shadow 0.3s 100ms ease-in-out;
  font-family: "Oleo Script", cursive;
  --clipy: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.nav__check,
.nav__label {
  display: none;
}

/* Eventos y animaciones */
.nav__element a::after {
  content: "";
  display: block;
  background: var(--color-black);
  width: 90%;
  height: 3px;
  border-radius: 2px;
  clip-path: var(--clipy);
  transition: clip-path 0.5s 100ms ease;
}

.nav__element:hover a {
  --clipy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__check:checked + .nav__menu {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* Responsive */
@media (max-width: 768px) {
  .nav__element a::after {
    content: none;
  }
  .nav__menu {
    position: fixed;
    top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 700ms ease-out;
  }
  .nav__label {
    display: flex;
  }
}
